/* Общие стили для навигационной панели */
nav {
  background-color: #007bff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Стили для ссылок */
nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

/* Эффекты наведения */
nav a:hover {
  background-color: #0056b3;
  color: #f8f9fa;
}

/* Адаптивный дизайн для мобильных устройств */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  nav a {
    margin: 5px 0;
  }
}