<form *ngIf="student" #editForm="ngForm" (ngSubmit)="onSave(editForm)">
    <div>
      <label for="surname">Фамилия:</label>
      <input [(ngModel)]="student.surname" name="surname" />
    </div>
    <div>
      <label for="name">Имя:</label>
      <input [(ngModel)]="student.name" name="name" />
    </div>
    <div>
      <label for="birthYear">Год рождения:</label>
      <input [(ngModel)]="student.birthYear" name="birthYear" />
    </div>
    <div>
      <label for="admissionYear">Год поступления:</label>
      <input [(ngModel)]="student.admissionYear" name="admissionYear" />
    </div>
    <button type="submit">Сохранить</button>
  </form>
  