<div class="container">
  <h1 class="title">Список групп и студентов</h1>
  
  <!-- Dropdown для выбора группы -->
  <div class="dropdown">
    <label for="group-select" class="dropdown-label">Выберите группу:</label>
    <select id="group-select" (change)="onGroupSelect($event)" class="dropdown-select">
      <option value="" selected disabled>-- Выберите группу --</option>
      <option *ngFor="let group of groups" [value]="group.id">
        {{ group.name }}
      </option>
    </select>
  </div>

  <!-- Список студентов -->
  <div *ngIf="selectedStudents.length > 0" class="students-section">
    <!--<h2 class="students-title">Студенты группы "{{ selectedGroupName }}"</h2> -->
    <ul class="students-list">
      <li class="student-item" *ngFor="let student of selectedStudents">
        <div class="student-card">
          <p class="student-name" [appItalicForMinor]="student.birthYear">
            <strong>{{ student.surname }} {{ student.name }}</strong>
          </p>
          <p class="student-details">
            {{ student.birthYear | century }}
          </p>
          <p class="student-details">Курс: {{ student.course }}</p>
          <p class="student-details">Год поступления: {{ student.admissionYear }}</p>
          <button (click)="onEditStudent(student.id)">Редактировать</button>
        </div>
      </li>
    </ul>
  </div>

  <!-- Сообщение, если студентов нет -->
  <div *ngIf="selectedStudents.length === 0" class="no-students">
    <p>В данной группе пока нет студентов.</p>
  </div>
</div>
